* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

.main {
  height: 100%;
  width: 100%;
  background-color: rgb(60, 154, 60);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.panel {
  height: 85%;
  width: 85%;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
}

.ptop {
  height: 10%;
  width: 100%;
  background-color: rgba(7, 145, 7, 0.929);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

#elem {
  display: flex;
  gap: 10px;
}

.box {
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  font-size: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pbtm {
  height: 90%;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
   display: flex;
  justify-content: center;
  align-items: center;
}

.bubble {
  height: 60px;
  background-color: rgb(8, 115, 8);
  width: 60px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.bubble:hover {
  background-color: darkgreen;
  cursor: pointer;
}
